<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

<style>
body {
    font-family: sans-serif;
    margin: 0px;
}
.topo {
    color: #fff;
    background: #3d3d47;
    padding: 10px 90px;
    font-size: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.corpo {
    margin: 90px;
}
.h1 {
    font-size: 25px;
    padding: 30px 0px;
}
.nome {
    font-size: 20px;
}

li {
    background: #eee;
    padding: 11px;
    list-style: 'route: ';
    margin: 15px;
}
.rota {
    font-size: 20px;
    font-family: monospace;
    background: #ccc;
    padding: 0px 15px;
    cursor: pointer;
}
.req {
    margin: 0px;
    font-family: monospace;
    font-size: 17px;
}

.resp {
    margin: 0px;
    font-size: 17px;
}

.aa{
    font-size: 0px;
}

.visto{ 
        animation: in-blok .5s cubic-bezier(0.4, 0.01, 0.33, 1.12) forwards; 
}
.link:hover {
    background: #f0e0fb;
}
.link:active {
    background: #b44bfa;
}


@keyframes in-blok{
    0%{
        font-size: 0px;
        margin: 0px;
    }
    100%{
        font-size: 17px;
        margin:19px ;
        }
}


</style>
<title>Documentation</title>
</head>
<body>

    {%set doc = {
        '/doc':{
            'meth':"GET",
            'out':"html",
            'msg':"Fazendo um 'get' a resposta se ver nessa documentação."},
        
        '/login/$chave':{
            'meth':'GET',
            'out':"'json' -> {'GET':sha256-> $chave , 'singned':sha256-> $chave_assinada}",
            'msg':"Fazendo um 'get', a saída é um json com a chave enviada a API 'GET' e a chave assinada 'singned'. <br>
                    OBS: 'singned' é a valiadação para liberação das ENDPOINT's cosumidas, deve ser tratada, ela acompanha as requisições para consumo da API."},
        
        '/$chave/login/login':{
            'meth':"'POST' ( RAW -> json) {'user':str-> $login_do_usuario , 'pwd':str-> $senha}",
            'out':"'json' -> {'DN':str , 'cpf':str , 'givenname':str , 'mail':str , 'mail2':str , 'memberof':list , 'sAMAccountName':str , 'telefone':str , 'token':str , <br>
                             'user':str , 'nascido':str}",
            'msg':"Rota para login de usuario <br>
            A saída é os dados do usuario incluindo o tokem de altenticação, a cada login um novo token aleatorio é gerado.<br>
            O tokem pode ser guardado em Cookie de forma simples e deve ser enviado para API como 'Bearer' (tokem de head)"},
        
        '/$chave/$user/logout':{
            'meth':"GET",
            'out':"'json' -> {'logout':str-> 'ok'}",
            'msg':"Rota para deslogar usuario <br>
            A saída é um ok."},
        
        '/$chave/$user/users':{
            'meth':"'GET' ( get -> keys) {'chr':str , 'pag':int ,'qp':int}",
            'out':"'json' -> {'atual_pg':int , 'total_pg':int , 'users':list*} <br>
                -> list* -> [dict*]<br>
                -> dict* -> {'cn':str-> nome , 'givenname':str-> login , 'mail':str-> email , 'memberof':json-> {'nomeGP':'DN_GP'} , 'telefone':str-> telefone ,'info':str -> criador , <br> 
                            'login':str , 'estado':bool -> ativado , 'DN':str-> nomeDistinto , 'nascido':str}",
            'msg':"Rota para buscar usuarios <br>
                Para fazer buscar o usuario deve ser autorizado a essa função.<br>
                chr -> caractere ou nome a ser buscado (cn).<br>
                pag -> é a página solicitada.<br>
                qp -> quantidade de usuarios por de página.<br>
                A saída inclui o numero da página e a quantidade."},
            
        '/$chave/$user/add_user':{
            'meth':"'POST' ( raw -> keys) {'nome':str , 'email2':str , 'desc':str , 'cpf':str , 'nescido':str , 'telefone':str , /'poder'*: str}",
            'out':"'json' -> {'response':bool , 'login':str , 'mensg':str}",
            'msg':"Rota para criar usuario.<br>
            'response' : se foi criado.<br>
            'mensg' : varia de acordo com o ocorrido ['usuario criado' , 'usuario ja existe' , 'login ja existe'],<br>
            'login' : mostra o login criado para o usuario,<br>
            /'poder'* : apenas para ROOT  str deve ser ['root', 'add_aluno', 'add_servidor', 'aluno', 'servidor']<br>
            Um email será diparado para o usuario criado com as suas informações."},
        
        '/$chave/$user/delete_user':{
            'meth':"'POST' ( raw -> keys) {'DN':str}",
            'out':"'json' -> {'response':bool,'mensg':str}",
            'msg':"Rota para deletar usuario. <br>
            'response' : para deletado [true , false , null]."},

        '/$chave/$user/groups':{
            'meth':"'GET' ( get -> keys) {'chr':str , 'pag':int ,'qp':int , 'membros':int}",
            'out':"'json' -> {'atual_pg':int , 'total_pg':int , 'groups':list*} <br>
                -> list* -> [dict*]<br>
                -> doct* -> {'DN':str , 'UGP':str , 'cn':str , 'membros':list** , 'info':str -> criador}<br>
                -> list** -> [str]",
            'msg':"Rota para buscar grupos.<br>
                Para fazer buscar o usuario deve ser autorizado a essa função.<br>
                chr -> caractere ou nome a ser buscado (cn).<br>
                pag -> é a página solicitada.<br>
                qp -> quantidade de usuarios por de página.<br>
                membros -> para listar os usuarios de cada grupo 0 ou 1.<br>
                A saída inclui o numero da pagina e a quantidade."},

        '/$chave/$user/add_group':{
            'meth':"'POST' ( raw -> keys) {'nome':str , 'desc':str}",
            'out':"'json' -> {'response':bool , 'mensg':str}",
            'msg':"Rota para adicionar grupos. <br>
                dec -> para descrição do grupo"},

        '/$chave/$user/modify_group':{
            'meth':"'POST' ( raw -> keys) {'DN_user':str , 'DN_group':str , 'modify': str -> 'add' | 'remove'}",
            'out':"'json' -> {'response':bool , 'mensg':str}",
            'msg':"Rota para adicionar e remover membro de grupos. <br>
                'add' -> adicionar um usuario. <br>
                'remove' -> remover usuario."},

        '/$chave/$user/delete_group':{
            'meth':"'POST' ( raw -> keys) {'DN':str }",
            'out':"'json' -> {'response':bool , 'mensg':str}",
            'msg':"Rota para remover grupo. <br>
                'DN' -> é a identificação do grupo."},
                
        '/$chave/$user/reset_pwd':{
            'meth':"'POST' ( raw -> keys) {'pwd':str , 'new_pwd':str}",
            'out':"'json' -> {'response':bool , 'mensg':str}",
            'msg':"Rota para mudar a senha do usuario. <br>
                'pwd' -> senha atual. <br>
                'new_pwd' -> nova senha."},
            
        '/$chave/$user/user_pwd':{
            'meth':"'POST' ( raw -> keys) {'DN':str , 'new_pwd':str}",
            'out':"'json' -> {'response':bool , 'mensg':str}",
            'msg':"Rota para mudar a senha de outros usuario. <br>
                'DN' -> do usuario que se deseja mudar a senha. <br>
                'new_pwd' -> nova senha."},
        
        '/$chave/$user/alter_count':{
            'meth':"'POST' ( raw -> keys) {'tell':str , 'email':str, ['token': str]}",
            'out':"'json' -> {'response':bool , 'mensg':str}",
            'msg':"Rota para mudar o telefone ou email do usuario. <br>
            'token' -> é enviado por email deve ser enviado em POST^2. <br>
            'tell' e 'email' são opcionais."},
        
        '/$chave/req_senha/esqueci_senha':{
            'meth':"'POST' ( raw -> keys) {'nome':str , 'cpf':str , 'nascido':str , 'email':str}",
            'out':"'json' -> {'response':bool , 'mensg':str}",
            'msg':"Rota para esqueci minha senha de usuario." },
}
    %}

    <div class="topo">
        <div>
            API_SLI v0.1
        </div>
        <div class="nome">
            by:williams_sousa
        </div>
    </div>
    
    <div class="corpo">
        <span class="h1">Documentação para uso de API</span> <br><br>
        As rotas abaixo mostram as entradas e saída, além de como as requisições devem ser feita usado GET ou POST 
        <br>Caso não seja seguido, o servidor tera como resposta erro da casa de 500.
        <br> <br>
        <div class="resp"> *Após o login do user, as rotas vem conter o login do mesmo : <b>$user</b>. </div>
        <ul>
            {%set lista=[]%}
            {%set cont=0%}
            {%for i in doc%}
            {%set __ = lista.append(0)%}
            {%set cont = lista | length%}
            <li class="link" id="li{{cont}}" onclick="ver('div{{cont}}')"> 
                <span class="rota">{{i}}</span> 
                <div class="req aa div{{cont}} ">
                    Meth:{{doc[i]['meth']}}<br>
                    Out:{{doc[i]['out']}} 
                </div>
                <div class="resp aa div{{cont}}"">
                    {{doc[i]['msg']}}
                </div>
            </li>
            {%endfor%}
        </ul>

    </div>

<script>
    function ver(id_div){
        const aa=document.querySelectorAll('.visto');
        console.log(aa)

        aa.forEach(item =>{
            item.classList.remove('visto');
            })
        
        const div=document.querySelectorAll('.'+id_div);
        console.log(div)

        div.forEach(element => {
            console.log(element)
            element.classList.add('visto');
        });
    }

</script>
    
</body>
</html>