
<h2>Olá {nome}.</h2>
O SISTEMA DE LOGIN INSTITUCIONAL- SLI, constatou uma solicitação de reset de senha <br>
em: {data} às {hora}
<br><br>
Para sua segurança o sistema gerou uma senha aleatoria:

<h3>senha: {pwd}</h3>
<br>
Use para fazer o próximo login e mude para facilitar o uso
<hr>lembrando que:
<ul>
    <li>A senha não pode ter algo haver com seu nome;</li>
    <li>A senha deve conter letras e números incluindo um caracter especial;</li>
    <li>Não compartilhe sua senha.</li>
</ul>